.header{
    display: flex;
    justify-content: center;
    background-image: url('/header_background.svg'); /* leading slash means root of public folder */
    background-size: cover;       /* scale image to cover the entire header */
    background-position: center;  /* center the image */
    background-repeat: no-repeat; /* avoid tiling */

}


.brand{
    display:flex;
    align-items: center;
    gap: 10px;
}

.logo{
    height: 100px;
    width: 100px;
    padding: 10px;
}