.header{
    display: flex;
    justify-content: center;
    
    background-color:#333333 ;
    
}


.brand{
    display:flex;
    align-items: center;
    gap: 10px;
    color: #F7F7F7;
}

.logo{
    height: 100px;
    width: 100px;
    padding: 10px;
}