.menu-container {
  padding: 2rem;
  background-color: #F7F7F7;
}

.title-and-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.category-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 100px;
  margin-top: 20px;
}

.category-buttons button {
  border-radius: 10px;
  height: 35px;
  width: 150px;
  border: 2px rgb(0, 0, 0) solid;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.category-buttons button:hover {
  background-color: #698B6F;
  color: white;
  transition: background-color 0.2s ease-in, color 0.2s ease-out;
}

.menu-title {
  font-weight: bold;
  font-size: 65px;
}



.menu-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.menu-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #F0F0F0;
}

.menu-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.menu-card h2 {
  margin-top: 1rem;
}

.category-buttons button.active {
  background-color: #698B6F;
  color: #F7F7F7;
  transition: background-color 0.2s ease-in, color 0.2s ease-out;
}

.tag-section {
  background-color: #333333;
  padding: 30px;
  border-radius: 30px;
  margin: 10px auto 30px auto; /* center horizontally */
  display: inline-block;       /* shrink to fit content */
}

.tag-heading {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
  color: #F7F7F7;

}

.tag-items-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;     /* center items inside */
}

.tag-sections-container {
  display: flex;
  flex-wrap: wrap;        /* allow multiple rows if needed */
  gap: 30px;              /* horizontal and vertical gaps between sections */
  justify-content: center; /* center all sections in the container */
}

